.main-aboutus{
    background-color: $color-bg-secondary;
    color: #fff;
    margin-top: 50px;
}
.section-aboutus{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family:'Times New Roman', Times, serif;
    
    &__paragraph-conteiner{
        width: 500px;
    }
    &__title{
        border-bottom: 1px solid #fff;
    }
    &__paragraph{
        margin: 5px;
        text-align: center;
    }
    &__logo{
        width: 150px
    }
    &__interactive-conteiner{
        width: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__textarea{
        width: 400px;
        height: 200px;
    }
    &__btn-conteiner{
        margin: 5px 0;
    }
    &__btn{
        width:100px;
        height: 50px;
        border:2px solid #fff;
        background-color:$color-bg-secondary;
        color: #fff;
    }
}
@media screen and (max-width:600px){
    .section-aboutus{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &__paragraph-conteiner{
            width: 300px;
            font-size: 18px;
        }
        &__paragraph{
            width: 300px;
            margin: 0;
        }
        &__textarea-conteiner{
            width: 300px;
            margin: 0;
        }
        &__textarea{
            width: 300px;
        }
        &__btn{
            margin: 10px 0;
        }
    }
}

// falta poner unas estrellas abajo del textarea para que puedan calificarnos
