.section-cards{
    &__category-general-title{
        color: $color-bg-secondary;
        font-size: 20px;
    }
    &__category-general-container{
        border: 1px solid red;
        padding: 5px;
    }
    &__category-general{
        border: 1px solid green;
        padding: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    &__general-cards{
        // border: 1px solid black;
        width: 110px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-items: center;
        color: $color-bg-secondary;
        font-size: 18px;
        word-break: break-all;
    }
    &__general-img{
        width: 65px;
        border: 1px solid $color-bg-secondary;
        border-radius: 50%;
        padding: 5px;
    }
    &__product-name{
        margin: 0px;
    }
}