.contact{
    &__btn-wpp{
        position: fixed;
        width: 55px;
        height: 55px;
        line-height: 55px;
        bottom: 30px;
        right: 30px;
        background: $color-bg-secondary;
        color: #fff;
        border-radius: 50px;
        text-align: center;
        font-size: 30px;
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
        z-index: 100;
    }
    &__btn-wpp:hover{
        text-decoration: none;
        color: $color-bg-secondary;
        background-color: #fff;
    }
}